<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <!--注册servlet-->
    <servlet>

      <servlet-name>hello</servlet-name>
      <servlet-class>top.sxrhhh.servlet.HelloServlet</servlet-class>
    </servlet>
    <!--Servlet的请求-->
    <servlet-mapping>
      <servlet-name>hello</servlet-name>
      <url-pattern>/hello/*</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>error</servlet-name>
      <servlet-class>top.sxrhhh.servlet.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>error</servlet-name>
      <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
