# asdf
[client-server]


[mysqld]
skip-grant-tables
# 数据库默认字符集,主流字符集支持一些特殊表情符号（特殊表情符占用4个字节）
character-set-server = utf8mb3

#数据库字符集对应一些排序等规则，注意要和character-set-server对应
collation-server = utf8mb3_general_ci
